body
{
    background: #c5c6c7;
    margin: 0;
}

main
{
    width: 70%;
    display: table;
    margin: 100px auto 0 auto;
}

.card-container
{
    width: 270px;
    display: table;
}

.card
{
    width: 100%;
    display: table;
    background: #fff;
    border-radius: 8px;
    box-shadow: 8px 8px 12pxrgb(5, 5, 5, 0.5)
}

.card .card-image
{
    border: 8px solid yellow;
}
